Contents/Libraries/Shared/win32-32bit
Contents/Libraries/Shared/linux2-32bit
Contents/Libraries/Shared/linux2-64bit
Contents/Libraries/Shared/darwin-64bit
Contents/Libraries/Shared/shared
.platform
*.pyc
*.pickle
*.sublime-project
*.sublime-workspace
